#phnDiv{
    margin-top: 20px;
}
.valerror{
    color: red;
    padding: 0px;
    margin: 0px;
}
form{
        padding: 0px;
        border-radius: 3px;
        box-sizing: border-box;
        margin: 0px 20px 0px 20px;
    }