
<app-nav-bar></app-nav-bar>
<div id="wrap">
    <div id="instr">
        <div class="row">
            <div id="crd" class="col s12 m6">
              <div class="card blue lighten-5 darken-1">
                <div class="card-content white-text">
                  <span class="card-title"><a class="waves-effect waves-light btn">GET</a> /api/services/GetWallets</span>
                  <p>Return something..</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
              <div id="crd" class="col s12 m6">
                <div class="card blue lighten-5 darken-1">
                  <div class="card-content white-text">
                    <span class="card-title"><a class="waves-effect waves-light btn">GET</a> /api/services/GetTransactionHistory</span>
                    <p>Return something..</p>
                  </div>
                  <div class="card-action">
                    <a href="#">This is a link</a>
                    <a href="#">This is a link</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
                <div id="crd" class="col s12 m6">
                  <div class="card blue lighten-5 darken-1">
                    <div class="card-content white-text">
                      <span class="card-title"><a class="waves-effect waves-light btn">POST</a> /api/FundAccount</span>
                      <p>Fund an account</p>
                    </div>
                    <div class="card-action">
                      <a href="#">This is a link</a>
                      <a href="#">This is a link</a>
                    </div>
                  </div>
                </div>
              </div>
    </div>
    <div id="docu">
        <nav>
            <div class="nav-wrapper">
              <ul id="nav-mobile" class="left hide-on-med-and-down navbar-ul">
                <li><a href="#">Nodejs</a></li>
                <li><a href="#">C#</a></li>
                <li><a href="#">python</a></li>
                <li><a href="#">php</a></li>
              </ul>
            </div>
          </nav>
          <div id="txtArea">
              Write down the function for APIs
          </div>
    </div>
</div>

