#uli{
    padding-left: 150px;
}
#docu{
    margin-top: 20px;
    float: right;
    width: 500px;
}
#txtArea{
    float: right;
    width: 100%;
    height: 100vh;
    background-color: darkslategray;
}
#instr{
    float: left;
    width: 450px;
    margin-top: 20px;
    margin-left: 20px;
}
#wrap{
    width: 1000px;
}
#crd{
    width: 100%;
}
